{% extends "base.twig" %}

{%  block content  %}

    <header>
        <h1> CONTENIDO USUARIO </h1>
            <nav>
                <ul>
                    <li><a  href="/prof">Profile</a></li>
                </ul>
            </nav>
    </header>

    <form action="/lp" method="post">
        <input type="submit" name="delete" value="Delete Account">

    </form>



    <button type="submit" class="btn" data-toggle="modal" data-target="#ModalUploadForm" name="uploadFile" value="uploadFile">Upload File</button>
    <div class="modal fade" id="ModalUploadForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Upload File</h4>
                </div>
                <div class="modal-body">
                    <form action="/uploadFile" method="post" enctype="multipart/form-data">
                        <input type="file" id="addFile" name="addFile" />
                        <input type="submit" name="uploadSubmit" value="Upload"/>
                    </form>
                </div>
            </div>

        </div>
    </div>
    </div>


    <button type="submit" class="btn" name="folder" value="folder">Add Folder</button>



    {% for array in item %}
        <img src= "{{ array.img }}" width="82" height="86">
        <input type="text"  name="nombre" value= "{{ array.nom }}"/>
        <form action="/delete" method="post">
            <input type="hidden"  value="{{ array.id }}" name="file_id"/>
            <button type="submit" class="btn" name="deleteFile" value="deleteFile">Delete</button>
        </form>
        <button type="submit" class="btn" data-toggle="modal" data-target="#ModalRenameForm" name="renameFile" value="renameFile">Rename</button>
        <div class="modal fade" id="ModalRenameForm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Rename File</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/renameFile" method="post">
                            <input type="hidden"  value="{{ array.id }}" name="file_id"/>
                            <input type="hidden"  value="{{ array.nom }}" name="file_name"/>
                            <input type="text" name="titleFile" placeholder="New File Name"/>
                            <input type="submit" name="submit" value="Submit"/>
                        </form>
                      </div>
                    </div>

                </div>
            </div>
        </div>

    {% endfor %}








{% endblock %}

