{% extends "base.twig" %}

{%  block content  %}

    <header>
        <h1> CONTENIDO USUARIO </h1>
            <nav>
                <ul>
                    <li><a  href="/prof">Profile</a></li>
                </ul>
            </nav>
    </header>


    <button type="submit" class="btn" data-toggle="modal" data-target="#ModalDeleteForm" name="deleteAccount" value="deleteAccount">Delete Account</button>
    <div class="modal fade" id="ModalDeleteForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Account</h4>
                </div>
                <div class="modal-body">
                    <form action="/deleteAccount" method="post" enctype="multipart/form-data">
                        <h6>Warning: Estas seguro que quieres eliminar tu cuenta?</h6>
                        <input type="submit" name="cancel" value="Cancel"/>
                        <input type="submit" name="continue" value="Continue"/>
                    </form>
                </div>
            </div>

        </div>
    </div>



    <button type="submit" class="btn" data-toggle="modal" data-target="#ModalUploadForm" name="uploadFile" value="uploadFile">Upload File</button>
    <div class="modal fade" id="ModalUploadForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Upload File</h4>
                </div>
                <div class="modal-body">
                    <form action="/uploadFile" method="post" enctype="multipart/form-data">
                        <input type="file" id="addFile" name="addFile" size="2Mb" />
                        <input type="submit" name="uploadSubmit" value="Upload"/>
                    </form>
                </div>
            </div>

        </div>
    </div>


    <button type="submit" class="btn" name="folder" value="folder">Add Folder</button>



    {% for array in item %}
        <img src= "{{ array.img }}" width="82" height="86">
        <input type="text"  name="nombre" value= "{{ array.nom }}"/>
        <form action="/deleteFile" method="post">
            <input type="hidden"  value="{{ array.id }}" name="file_id"/>
            <button type="submit" class="btn" name="deleteFile" value="deleteFile">Delete</button>
        </form>
        <button type="submit" class="btn" data-toggle="modal" data-target="#ModalRenameForm" name="renameFile" value="renameFile">Rename</button>
        <div class="modal fade" id="ModalRenameForm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Rename File</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/renameFile" method="post">
                            <input type="hidden"  value="{{ array.id }}" name="file_id"/>
                            <input type="hidden"  value="{{ array.nom }}" name="file_name"/>
                            <input type="text" name="titleFile" placeholder="New File Name"/>
                            <input type="submit" name="submit" value="Submit"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <form action="/downloadFile" method="post">
            <input type="hidden"  value="{{ array.id }}" name="file_id"/>
            <input type="hidden"  value="{{ array.nom }}" name="file_name"/>
            <button type="submit" class="btn" name="downloadFile" value="downloadFile">Download</button>
        </form>

    {% endfor %}








{% endblock %}

