{% extends "base.twig" %}

{%  block content  %}

    <!-- action="/prof"-->
    <form  class="form" method="POST">
        <div class="container">
            <h1 class="h1-reg-log">Update Profile</h1>
            <input type="submit" name="delete" value="delete" class="delete">

            <hr>
            <div class="row">
                <div class="col-lg-2">
                    <label>Username</label>
                </div>
                <div class="col-lg-6" id="col-username">
                     <input type="text"  name="username" readonly="readonly" id="username" value="{{ user['username'] }}" >
                </div>
            </div>
            <p class="error-r">{{ errors[0] }}</p>

            <div class="row">
                <div class="col-lg-2">
                    <label>Email</label>
                </div>
                <div class="col-lg-6" id="col-email">
                    <input type="text"  name="email" id="email"  value="{{ user['email'] }}" >
                </div>
            </div>
            <p class="error-r">{{ errors[1] }}</p>
            <div class="row">
                <div class="col-lg-2">
                    <label>BirthDate</label>
                </div>
                <div class="col-lg-6" id="col-birthdate">
                    <input type="date" id="birthdate" name="birthdate" value="{{ user['birthdate'] }}">
                </div>
            </div>
            <p class="error-r">{{ errors[2] }}</p>
            <div class="row">
                <div class="col-lg-2">
                    <label>Password</label>
                </div>
                <div class="col-lg-6" id="col-password">
                    <input type="password" id="password" name="psw" >
                </div>
            </div>
            <p class="error-r">{{ errors[3] }}</p>

            <div class="row">
                <div class="col-lg-2">
                    <label>Confirm Password</label>
                </div>
                <div class="col-lg-6" id="col-confirm">
                    <input type="password" id="confirm" name="confirmpsw"  >
                </div>
            </div>
            <p class="error-r">{{ errors[4] }}</p>




            <div class="row">
                <div class="col-lg-2">
                    <label>Profile Image</label>
                </div>
                <div class="col-lg-6" id="col-file">
                    <div class="upload-btn-wrapper">
                        <button class="btn">Upload a file</button>
                        <input type="file" id="image" name="myfile" />
                    </div>
                </div>
            </div>


            <input type="submit" name="submit" value="Submit" class="submit" onclick="profile()">

        </div>

    </form>
    <button type="submit" class="btn" data-toggle="modal" data-target="#ModalDeleteForm" name="deleteAccount" value="deleteAccount">Delete Account</button>
    <div class="modal fade" id="ModalDeleteForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Account</h4>
                </div>
                <div class="modal-body">
                    <form action="/deleteAccount" method="post" enctype="multipart/form-data">
                        <h6>Warning: Estas seguro que quieres eliminar tu cuenta?</h6>
                        <input type="submit" name="cancel" value="Cancel"/>
                        <input type="submit" name="continue" value="Continue"/>
                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

